{
  "printWidth": 100,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": true,
  "trailingComma": "es5",
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "package.json",
      "options": {
        "printWidth": 9999
      }
    },
    {
      "files": "*.{json,md,prettierrc}",
      "options": {
        "useTabs": false,
        "singleQuote": false
      }
    },
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
