---
import Layout from '../../layouts/Layout.astro';
import { websiteTitle } from '../../constants';
export const prerender = true;
---

<Layout title={'Set up your own ' + websiteTitle}>
	<main class="container">
		<h1>Set up your own <span class="text-gradient">{websiteTitle}</span></h1>
		<div class="instructions prose max-w-none">
			<p class="text-xl">Developer friend, hello!</p>
			<p class="text-xl">
				This is your development copy of <a href="https://promptswithfriends.com/"
					>PromptsWithFriends.com</a
				>, designed to showcase the <a href="https://b2bsaaskit.com/">B2B Saas Kit</a>.
			</p>

			<p class="text-xl">Getting started:</p>
			<ol>
				<li class="text-xl">
					<a href="/setup">Configure Prompts with Friends on your machine 👈</a>
				</li>
				<li class="text-xl">
					<a href="/app">Try Prompts with Friends on your machine</a>
				</li>
				<li class="text-xl">
					<a href="https://github.com/fogbender/b2b-saaskit">⭐ our open-source repo</a>
				</li>
			</ol>
			<p class="text-xl">
				The kit combines several open-source libraries with a handful of commercial
				services&mdash;all featuring generous free-forever starter plans&mdash;to spin up a
				functional multiplayer (i.e., team-based) application:
			</p>

			<p class="text-xl">
				<ul>
					<li class="text-xl">
						<a href="https://astro.build/">Astro</a>, an open-source website assembly framework
					</li>
					<li class="text-xl">
						<a href="https://react.dev/">React</a>, an open-source front-end library
					</li>
					<li class="text-xl">
						<a href="https://tailwindcss.com/">Tailwind CSS</a>, an open-source CSS framework
					</li>
					<li class="text-xl">
						<a href="https://doppler.com/">Doppler</a>, a commercial secrets management service
					</li>
					<li class="text-xl">
						<a href="https://propelauth.com/">PropelAuth</a>, a commercial managed user
						authentication service with focus on B2B
					</li>
					<li class="text-xl">
						<a href="https://supabase.com/">Supabase</a>, an open-source, commercial database
						service
					</li>
					<li class="text-xl">
						<a href="https://posthog.com/">PostHog</a>, an open-source, commercial product analytics
						service
					</li>
					<li class="text-xl">
						<a href="https://fogbender.com/">Fogbender</a>, commercial customer support software
						with focus on B2B
					</li>
					<li class="text-xl">
						<a href="https://vercel.com/">Vercel</a>, a commercial hosting and deployment service
					</li>
				</ul>
			</p>

			<p class="text-xl">
				Some of these libraries and services are necessary, others can be can <a href="/eject"
					>ejected</a
				>.
			</p>

			<p class="text-xl">
				Getting help: <a href="https://github.com/fogbender/b2b-saaskit/issues/new"
					>open an issue on GitHub</a
				> or ping <a href="https://twitter.com/jlarky">@JLarky</a> and <a
					href="https://twitter.com/abs">@abs</a
				> on Twitter.
			</p>

			<style>
				main {
					margin: auto;
					padding: 1.5rem;
				}
				h1 {
					font-size: 3rem;
					font-weight: 800;
					margin: 0;
				}
				.text-gradient {
					background-image: var(--accent-gradient);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					background-size: 400%;
					background-position: 0%;
				}
				.instructions {
					line-height: 1.6;
					margin: 1rem 0;
					border: 1px solid rgba(var(--accent), 25%);
					background-color: white;
					padding: 1rem;
					border-radius: 0.4rem;
				}
			</style>
			<style is:global>
				:root {
					--accent: 124, 58, 237;
					--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
				}
				html {
					font-family: system-ui, sans-serif;
					background-color: #f6f6f6;
				}
				code {
					font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
						Bitstream Vera Sans Mono, Courier New, monospace;
				}
			</style>
		</div>
	</main>
</Layout>
