---
import Layout from '../../layouts/Layout.astro';
import { websiteTitle } from '../../constants';
import b2b7logo from '../../assets/b2b7.svg';
import free from '../../assets/free.svg';
export const prerender = true;
---

<Layout title={'Welcome to ' + websiteTitle}>
	<main class="container max-w-[40rem] px-8 md:px-0 md:mx-auto pb-12">
		<div class="flex gap-6 items-center mt-28">
			<div class="w-[5.75rem]">
				<img class="w-[5.75rem] h-[5.75rem]" src={b2b7logo} alt="B2B7 Logo" />
			</div>
			<div class="flex flex-col">
				<span class="uppercase font-bold text-4xl">Prompts</span>
				<span class="italic text-2xl">with friends</span>
			</div>
		</div>

		<div class="mt-16 ml-0 md:ml-[7.25rem] text-[1.75rem] leading-8">
			Prompts with Friends is a new way to&nbsp;collaborate on GPT prompts with friends or
			colleagues
		</div>

		<div class="mt-[3.75rem] ml-0 md:ml-[7.25rem] text-lg leading-[1.875rem]">
			This app is a showcase for the <a href="https://b2bsaaskit.com">B2B SaaS Kit</a>&mdash;a kit
			for assembling multiplayer (i.e, team-based) SaaS applications by leveraging a combination of
			open-source and commercial technologies.
		</div>

		<div class="mt-[3.75rem] flex gap-6">
			<div class="min-w-fit md:min-w-[5.75rem] flex justify-end">
				<img class="h-10 w-10" src={free} alt="Free as in beer" />
			</div>
			<div class="text-lg leading-[1.875rem]">
				All commercial technologies used to build Prompts with Friends offer free-forever starter
				plans&mdash;the upkeep of PromptsWithFriends.com is just $13 per year (the cost of the
				domain name).
			</div>
		</div>

		<div
			class="mt-[3.75rem] mx-auto md:ml-[7.25rem] relative flex gap-6 items-center group justify-center md:justify-start"
		>
			<a
				href="/app"
				class="no-underline uppercase bg-black py-2 px-8 text-white visited:text-white max-w-max text-lg drop-shadow-[6px_6px_0_rgba(211,211,211)] hover:text-yellow-300"
			>
				Get started
			</a>
			<div
				class="hidden md:block text-yellow-300 drop-shadow-[6px_6px_0_rgba(211,211,211)] opacity-0 group-hover:opacity-100 transition-opacity duration-300"
			>
				:)
			</div>
		</div>

		<div class="mt-[3.75rem] ml-0 md:ml-[7.25rem] text-lg leading-[1.875rem]">
			Getting help: <a href="https://github.com/fogbender/b2b-saaskit/issues/new"
				>open an issue on GitHub</a
			> or ping <a href="https://twitter.com/jlarky">@JLarky</a> and <a
				href="https://twitter.com/abs">@abs</a
			> on Twitter
		</div>

		<style>
			a {
				color: #0029ff;
				text-decoration: underline;
			}

			a:visited {
				color: #bc48d9;
			}

			main {
				margin: auto;
			}
		</style>
		<style is:global>
			:root {
				--accent: 124, 58, 237;
				--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
			}
			html {
				font-family: system-ui, sans-serif;
				background-color: #f6f6f6;
			}
			code {
				font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
					Bitstream Vera Sans Mono, Courier New, monospace;
			}
		</style>
	</main>
</Layout>
