---
import b2b7logo from '../../assets/b2b7.svg?url';
import free from '../../assets/free.svg?url';
import { websiteTitle } from '../../constants';
import Layout from '../../layouts/Layout.astro';
---

<Layout
	title={websiteTitle}
	description="A new way to collaborate on GPT prompts with friends or colleagues (b2bsaaskit.com showcase)"
>
	<main class="container max-w-[40rem] px-8 pb-12 md:mx-auto md:px-0">
		<div class="mt-28 flex items-center gap-6">
			<div class="w-[5.75rem]">
				<img class="h-[5.75rem] w-[5.75rem]" src={b2b7logo} alt="B2B7 Logo" />
			</div>
			<div class="flex flex-col">
				<span class="text-4xl font-bold uppercase">Prompts</span>
				<span class="text-2xl italic">with friends</span>
			</div>
		</div>

		<div class="ml-0 mt-16 text-[1.75rem] leading-8 md:ml-[7.25rem]">
			Prompts with Friends is a new way to&nbsp;collaborate on GPT prompts with friends or
			colleagues
		</div>

		<div class="ml-0 mt-[3.75rem] text-lg leading-[1.875rem] md:ml-[7.25rem]">
			This app is a showcase for the <a href="https://b2bsaaskit.com">B2B SaaS Kit</a>&mdash;a kit
			for assembling multiplayer (i.e, team-based) SaaS applications by leveraging a combination of
			open-source and commercial technologies.
		</div>

		<div class="mt-[3.75rem] flex gap-6">
			<div class="flex min-w-fit justify-end md:min-w-[5.75rem]">
				<img class="h-10 w-10" src={free} alt="Free as in beer" />
			</div>
			<div class="text-lg leading-[1.875rem]">
				All commercial technologies used to build Prompts with Friends offer free-forever starter
				plans&mdash;the upkeep of PromptsWithFriends.com is just $13 per year (the cost of the
				domain name).
			</div>
		</div>

		<div
			class="group relative mx-auto mt-[3.75rem] flex items-center justify-center gap-6 md:ml-[7.25rem] md:justify-start"
		>
			<a
				href="/app"
				class="max-w-max bg-black px-8 py-2 text-lg uppercase text-white no-underline drop-shadow-[6px_6px_0_rgba(211,211,211)] visited:text-white hover:text-yellow-300"
			>
				Get started
			</a>
			<div
				class="hidden text-yellow-300 opacity-0 drop-shadow-[6px_6px_0_rgba(211,211,211)] transition-opacity duration-300 group-hover:opacity-100 md:block"
			>
				:)
			</div>
		</div>

		<div class="ml-0 mt-[3.75rem] text-lg leading-[1.875rem] md:ml-[7.25rem]">
			Getting help: <a href="https://github.com/fogbender/b2b-saaskit/issues/new"
				>open an issue on GitHub</a
			> or ping <a href="https://twitter.com/jlarky">@JLarky</a> and <a
				href="https://twitter.com/abs">@abs</a
			> on Twitter
		</div>

		<style>
			a {
				color: #0029ff;
				text-decoration: underline;
			}

			a:visited {
				color: #bc48d9;
			}
		</style>
	</main>
	<script>
		if (window.location.origin === 'https://b2b-saaskit.vercel.app') {
			window.location.href = 'https://b2bsaaskit.com';
		}
	</script>
</Layout>
