---
import Layout from '../../../layouts/Layout.astro';
import { createHelpers } from '../../../lib/trpc/root';

export const prerender = false; // to allow dynamic title per user

const helpers = createHelpers(Astro);
const helpersExample = await helpers.hello.hello.fetch();

const title = `Create Helpers / ${helpersExample}`;
---

<Layout title={title}>
	I can get some information right from the trpc, for example to set a title.
	<h1 class="mt-4 text-2xl font-bold">{title}</h1>
</Layout>
