---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
	<h1>Demos</h1>
	<main class="prose">
		<ol>
			<li>SPA-like application called Survey</li>
			<ol>
				<li>
					<a target="_blank" href="/survey">React, React Router, tRPC</a>
				</li>
				<li>
					<a target="_blank" href="/demo/htmx/safe">Safe HTMX version of Survey</a>
				</li>
			</ol>
		</ol>
	</main>
	<style>
		body {
			max-width: 40em;
			margin: 4em auto;
		}
	</style>
</Layout>
