---
import { getSurveys } from '../safe/_db';
import Layout from '../safe/_layout.astro';
// import ToHTMX from './_ToHTML1.astro'; // safe, using Astro escaping
import ToHTMX3 from './_ToHTML3.astro'; // safe, using Astro escaping

const ToHTMX = ToHTMX3;

export const prerender = false; // to allow to change escape strategy
const data = await getSurveys();
---

<Layout>
	<div class="flex flex-col items-center justify-center py-20">
		<h2 class="mb-4 text-2xl">Thank you to everyone who participated in the survey</h2>
		<a
			href="/demo/htmx/safe/rate-experience"
			class="rounded-md bg-blue-500 px-4 py-2 text-white hover:bg-blue-600"
		>
			Add your own comment!
		</a>
		<div class="my-4 w-full sm:w-[500px] lg:w-[800px]">
			<h3 class="mb-2 text-xl">
				{data?.length === 0 ? 'No comments yet' : 'Comments'}
			</h3>
			<ul class="list-inside list-disc">
				{
					data?.map((survey) => (
						<li>
							{survey.rating} out of 5 on {survey.createdAt.toLocaleString()}
							{survey.comments && (
								<>
									<br />
									<ToHTMX text={survey.comments} />
								</>
							)}
						</li>
					))
				}
			</ul>
		</div>
		<a href="/demo/htmx/safe" class="rounded-md bg-blue-500 px-4 py-2 text-white hover:bg-blue-600">
			Return back to survey home page
		</a>
	</div>
</Layout>
