---
import Layout from '../layouts/Layout.astro';
import { websiteTitle } from '../constants';
export const prerender = true;
---

<Layout title={'Welcome to the ' + websiteTitle}>
	<main class="container">
		<h1>Welcome to the <span class="text-gradient">{websiteTitle}</span></h1>
		<div class="instructions prose max-w-none">
			<p class="text-xl">
        Friend, hello!
      </p>
			<p class="text-xl">
        <b>B2B SaaS Kit</b> is an instructional bundle for assembling products designed to be used by teams of users (i.e. businesses).
			</p>

			<p class="text-xl">
        To see the kit in action, check out <a href="https://promptswithfriends.com" target="_blank">Prompts with Friends</a>&mdash;it's a sample SaaS app that lets you collaborate on GPT prompts with teammates.
      </p>

			<p class="text-xl">
        If you'd like to see how it was built, let's get a copy running right here&mdash;on your computer.
      </p>

			<p class="text-xl">
        But first, <a href="https://github.com/fogbender/b2b-saaskit" target="_blank">give our open-source repo  a ⭐</a>! If disappointed, you can always unstar it later.
			</p>

			<p class="text-xl">
	      <a href="/setup">Let's build</a>
      </p>
		</div>

		<style>
			main {
				margin: auto;
				padding: 1.5rem;
			}
			h1 {
				font-size: 3rem;
				font-weight: 800;
				margin: 0;
			}
			.text-gradient {
				background-image: var(--accent-gradient);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-size: 400%;
				background-position: 0%;
			}
			.instructions {
				line-height: 1.6;
				margin: 1rem 0;
				border: 1px solid rgba(var(--accent), 25%);
				background-color: white;
				padding: 1rem;
				border-radius: 0.4rem;
			}
		</style>
		<style is:global>
			:root {
				--accent: 124, 58, 237;
				--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
			}
			html {
				font-family: system-ui, sans-serif;
				background-color: #f6f6f6;
			}
			code {
				font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
					Bitstream Vera Sans Mono, Courier New, monospace;
			}
		</style>
	</main>
</Layout>
