---
import { Login } from '../components/Login';
import Layout from '../layouts/Layout.astro';
export const prerender = true;
---

<Layout title="Login">
	<main class="container mx-auto my-8">
		<h1 class="text-4xl">Welcome, please login</h1>
		<Login client:load />
	</main>
</Layout>
