---
import { Login as LoginReact } from '../components/Login';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Login">
	<main class="container mx-auto my-8">
		<h1 class="text-4xl">Welcome, please sign in</h1>
		<LoginReact client:load />
	</main>
</Layout>
