---
import { Signup } from '../components/Signup';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Sign up">
	<main class="container mx-auto my-8">
		<h1 class="text-4xl">Welcome, please create an account</h1>
		<Signup client:load />
	</main>
</Layout>
