---
import { TRPCError } from '@trpc/server';
import { getHTTPStatusCodeFromError } from '@trpc/server/http';
import { Prompts } from '../../components/prompts/Prompts';
import Nav from '../../components/prompts/Nav.astro';
import Layout from '../../layouts/Layout.astro';
import { createHelpers } from '../../lib/trpc/root';

export const prerender = false; // to enable trpc prefetching

const helpers = createHelpers(Astro);
// prefetch data for client, and redirect to login if not logged in
const error = await helpers.prompts.getPrompts
	.fetch()
	.then(() => {})
	.catch((error) => error);

if (error instanceof TRPCError) {
	const httpCode = getHTTPStatusCodeFromError(error);
	if (httpCode === 401) return Astro.redirect('/prompts');
}
---

<Layout title="Prompts with Friends">
	<main class="container mx-auto my-8">
		<h1 class="text-4xl">Prompts with Friends - List</h1>
		<Nav />
		<Prompts client:load dehydratedState={helpers.dehydrate()} />
	</main>
</Layout>
