---
import Nav from '../../components/prompts/Nav.astro';
import Layout from '../../layouts/Layout.astro';
export const prerender = true;
---

<Layout title="Settings">
	<main class="container mx-auto my-8">
		<h1 class="text-4xl">Prompts with Friends - Settings</h1>
		<Nav />
		No settings yet.
	</main>
</Layout>
