---
import Nav from '../../components/prompts/Nav.astro';
import { Settings } from '../../components/prompts/Settings';
import Layout from '../../layouts/Layout.astro';
export const prerender = true;
---

<Layout title="Settings">
	<main class="container mx-auto my-8">
		<h1 class="text-4xl">Prompts with Friends / Settings</h1>
		<Nav />
		<Settings client:load />
	</main>
</Layout>
