---
import Layout from './_layout.astro';
---

<Layout>
	<div class="flex h-screen flex-col items-center justify-center">
		<h2 class="mb-4 text-2xl">Thank you for participating in our survey!</h2>
		<a href="/demo/htmx/safe" class="rounded-md bg-blue-500 px-4 py-2 text-white hover:bg-blue-600">
			Return back to survey home page
		</a>
	</div>
</Layout>
