---
import { App } from '../../components/App';
import Layout from '../../layouts/Layout.astro';
import { createCaller } from '../../lib/trpc/root';
export const prerender = true;

const callerExample = await createCaller({
	req: Astro.request,
	resHeaders: Astro.response.headers,
}).hello.hello();
console.log('callerExample', callerExample);
---

<Layout title="App">
	<main class="container mx-auto my-8">
		<h1 class="text-4xl">Welcome to the app</h1>
		<App client:load />
	</main>
</Layout>
