---
import { Prompts } from '../../components/Prompts';
import Layout from '../../layouts/Layout.astro';
import { createCaller } from '../../lib/trpc/root';

export const prerender = false; // to enable cookies

const prompts = await createCaller({
	req: Astro.request,
	resHeaders: Astro.response.headers,
}).prompts.getPrompts();
console.log('callerExample', prompts);

// Create a single supabase client for interacting with your database
---

<Layout title="Your prompts">
	<main class="container mx-auto my-8">
		<h1 class="text-4xl">Prompts with Friends</h1>
		{JSON.stringify(prompts)}
		<ul
			class="flex flex-col md:flex-row md:pt-0 md:self-center md:text-base md:w-auto pt-8 text-xl w-full"
		>
			<li>
				<a
					href="/app"
					class="flex items-center duration-150 ease-in-out font-medium hover:text-gray-900 px-4 py-3 transition"
					>App</a
				>
			</li>
			<li>
				<a
					href="/app/prompts"
					class="flex items-center duration-150 ease-in-out font-medium hover:text-gray-900 px-4 py-3 transition"
					>Prompts</a
				>
			</li>
			<li>
				<a
					href="/app/settings"
					class="flex items-center duration-150 ease-in-out font-medium hover:text-gray-900 px-4 py-3 transition"
					>Settings</a
				>
			</li>
		</ul>
		<Prompts client:load prompts={prompts} />
	</main>
</Layout>
