---
import { App } from '../../components/App';
import Layout from '../../layouts/Layout.astro';
import { getUser } from '../../lib/propelauth';
export const prerender = false; // to enable cookies

const user = await getUser(Astro.cookies);

console.log(user);
---

<Layout title="Settings">
	<main class="container mx-auto my-8">
		<h1 class="text-4xl">Prompts with Friends</h1>
		<ul
			class="flex flex-col md:flex-row md:pt-0 md:self-center md:text-base md:w-auto pt-8 text-xl w-full"
		>
			<li>
				<a
					href="/app"
					class="flex items-center duration-150 ease-in-out font-medium hover:text-gray-900 px-4 py-3 transition"
					>App</a
				>
			</li>
			<li>
				<a
					href="/app/prompts"
					class="flex items-center duration-150 ease-in-out font-medium hover:text-gray-900 px-4 py-3 transition"
					>Prompts</a
				>
			</li>
			<li>
				<a
					href="/app/settings"
					class="flex items-center duration-150 ease-in-out font-medium hover:text-gray-900 px-4 py-3 transition"
					>Settings</a
				>
			</li>
		</ul>
		<App client:only="react" serverUser={user} />
	</main>
</Layout>
