<ul
	class="flex flex-col md:flex-row md:pt-0 md:self-center md:text-base md:w-auto pt-8 text-xl w-full"
>
	<li>
		<a
			href="/prompts"
			class="flex items-center duration-150 ease-in-out font-medium hover:text-gray-900 px-4 py-3 transition"
			>Overview</a
		>
	</li>
	<li>
		<a
			href="/prompts/list"
			class="flex items-center duration-150 ease-in-out font-medium hover:text-gray-900 px-4 py-3 transition"
			>Prompts</a
		>
	</li>
	<li>
		<a
			href="/prompts/settings"
			class="flex items-center duration-150 ease-in-out font-medium hover:text-gray-900 px-4 py-3 transition"
			>Settings</a
		>
	</li>
</ul>
