---
import '../styles/tailwind.css';

import type { Simplify } from 'astro:assets';

import pwf from '../assets/b2b7.svg?url';
import CheckerOverlay from '../components/head/CheckerOverlay.astro';
import Posthog from '../components/head/Posthog.astro';
import SEO, { Props as SeoProps } from '../components/head/SEO.astro';

export type Props = Simplify<SeoProps>;
const props = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={pwf} />
		<meta name="generator" content={Astro.generator} />
		<SEO {...props} />
		<Posthog />
		{import.meta.env.DEV && <CheckerOverlay />}
	</head>
	<body class="md:overscroll-y-none">
		<slot />
	</body>
</html>
