---
import '../styles/tailwind.css';

import type { Simplify } from 'astro:assets';

import pwf from '../assets/b2b7.svg?url';
import Posthog from '../components/head/Posthog.astro';
import SEO, { Props as SeoProps } from '../components/head/SEO.astro';

export type Props = Simplify<SeoProps> & {spa?: boolean}
const props = Astro.props;

const Out = props.spa ? Posthog : await (async () => {
	console.log(123);
	const { ViewTransitions } = await import('astro:transitions');
	return ViewTransitions
})();

console.log(props.spa)
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={pwf} />
		<meta name="generator" content={Astro.generator} />
		<SEO {...props} />
		<Out />
		<script>
			document.addEventListener('astro:page-load', () => {
			  debugger;
			  // This only runs once.
			  console.log('navigation complete!');
			});
		  </script>
	</head>
	<body class="md:overscroll-y-none">
		<slot />
	</body>
</html>
